body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vehiclepage,.vehiclepage1{
  display:flex;
 
}

.vehiclepage > div{
   /* margin-left:20px;
  margin-right:60px; */
  margin: auto;
  padding: 10px;
}

.vehiclepage1 > div{
  /* margin-left:0px;
 margin-right:5px; */
 margin: auto;
 padding: 10px;
 
}
.vehiclepage1{
  border: 1px solid black;
  background-color: gray;
}

.vehiclepage:hover{
  background-color: rgb(177, 176, 176);
}
.operatorpage{
  margin:auto;
  border: 1px solid black;
}

